<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test post</title>
</head>
<body>
    <form action="/" method="POST" enctype="multipart/form-data">
        <!--
        <input type="text" name="first_name" placeholder="first name">
        <input type="text" name="last_name" placeholder="last name">
        </br>
        <input type="email" name="user_email" placeholder="email">
        </br>
        -->
        <input type="file" name="excel_file">
        <button type="submit">Submit</button>
    </form>
</body>
</html>
